<footer>


<div class="footer">

<img class="ub-logo-footer" src="https://library2.buffalo.edu/img/ub-logo-two-line.png" alt="University at Buffalo  The State University of New York" width="241" height="32">

<div class="contact">

<div class="social">
<ul>
<li><a href="https://instagram.com/ublibraries" target="_blank" class="instagram" aria-label="instagram"></a></li>
<li><a href="https://tiktok.com/@ublibraries" target="_blank" class="tiktok" aria-label="tiktok"></a></li>
<li><a href="https://www.youtube.com/user/ublibraries" target="_blank" class="youtube" aria-label="youtube"></a></li>
<li><a href="https://www.facebook.com/ublibraries" target="_blank" class="facebook" aria-label="facebook"></a></li>
<li><a href="https://twitter.com/ublibraries" target="_blank" class="twitter" aria-label="twitter"></a></li>
<li><a href="https://www.linkedin.com/company/university-at-buffalo-libraries" target="_blank" class="linkedin" aria-label="linkedin"></a></li>

</ul>


</div>


<strong>University at Buffalo Libraries</strong><br>
433 Capen Hall<br>
Buffalo, NY 14260-1625<br>
716-645-2965<br>

<ul class="contact-nav">
<li><a href="https://library.buffalo.edu/aboutus/contactus">Contact Us</a></li>
<li><a href="https://library.buffalo.edu/aboutus/contactus/directions">Directions</a></li>
<li><a href="https://library.buffalo.edu/aboutus/contactus/report-a-problem.html">Report a Problem</a></li>
</ul>



</div>

<div class="copyright">
© 2021 <a href="https://buffalo.edu">University at Buffalo</a>. All rights reserved.  |  <a href="https://www.buffalo.edu/administrative-services/policy-compliance-and-internal-controls/policy/ub-policy-lib/privacy.html">Privacy</a>  |  <a href="https://library.buffalo.edu/accessibility">Accessibility</a>
      </div>
  



</div>

  
</footer>