  <header>
<div class="innerheader">
  <div class="core-header">
  <div class="inner" data-with-topnav="true">
    <div class="top with-parent-organizations">
    <div class="ub-title">
      <a href="https://buffalo.edu">
      <span>University at Buffalo</span>
      <span class="ada-hidden">(UB)</span>
      </a>
      <div class="arrow"></div>
    </div>
    <div class="parent-organizations">
      <a href="https://library.buffalo.edu">University Libraries</a>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="top-header">
  <div class="inner-content">
  <div class="ub-logo">
    <span class="ada-hidden">University at Buffalo (UB)</span>
  </div>

  <div class="left">
    <div class="parent-organizations">
    <a href="https://library.buffalo.edu">University Libraries</a>
    </div>
    <div class="site-title">
    <div class="title">
      <a href="/" target="_self">Archival &amp; Manuscript Collections</a>
    </div>
    </div>
  </div>

</header>